body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:383px;
}
#u27272 {
  position:absolute;
  left:7px;
  top:109px;
  width:725px;
  height:383px;
}
#u27273 {
  position:absolute;
  left:2px;
  top:184px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
