body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1434px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:802px;
}
#u2779 {
  position:absolute;
  left:11px;
  top:9px;
  width:1422px;
  height:802px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:393px;
  width:1418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1421px;
  height:597px;
}
#u2781 {
  position:absolute;
  left:13px;
  top:811px;
  width:1421px;
  height:597px;
}
#u2782 {
  position:absolute;
  left:2px;
  top:290px;
  width:1417px;
  visibility:hidden;
  word-wrap:break-word;
}
