body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16036 {
  position:absolute;
  left:188px;
  top:9px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16037 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
}
#u16038 {
  position:absolute;
  left:288px;
  top:137px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16039 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u16040 {
  position:absolute;
  left:238px;
  top:69px;
  width:0px;
  height:0px;
}
#u16040_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u16040_seg1 {
  position:absolute;
  left:-4px;
  top:29px;
  width:120px;
  height:8px;
}
#u16040_seg2 {
  position:absolute;
  left:108px;
  top:29px;
  width:8px;
  height:39px;
}
#u16040_seg3 {
  position:absolute;
  left:102px;
  top:55px;
  width:20px;
  height:20px;
}
#u16041 {
  position:absolute;
  left:7px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16042 {
  position:absolute;
  left:350px;
  top:197px;
  width:0px;
  height:0px;
}
#u16042_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u16042_seg1 {
  position:absolute;
  left:-4px;
  top:19px;
  width:9px;
  height:8px;
}
#u16042_seg2 {
  position:absolute;
  left:-3px;
  top:19px;
  width:8px;
  height:15px;
}
#u16042_seg3 {
  position:absolute;
  left:-9px;
  top:21px;
  width:20px;
  height:20px;
}
#u16043 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16044 {
  position:absolute;
  left:351px;
  top:383px;
  width:0px;
  height:0px;
}
#u16044_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u16044_seg1 {
  position:absolute;
  left:-139px;
  top:7px;
  width:143px;
  height:8px;
}
#u16044_seg2 {
  position:absolute;
  left:-139px;
  top:7px;
  width:8px;
  height:98px;
}
#u16044_seg3 {
  position:absolute;
  left:-145px;
  top:92px;
  width:20px;
  height:20px;
}
#u16045 {
  position:absolute;
  left:-159px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:59px;
}
#u16046 {
  position:absolute;
  left:400px;
  top:91px;
  width:172px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u16047 {
  position:absolute;
  left:2px;
  top:20px;
  width:168px;
  word-wrap:break-word;
}
#u16048 {
  position:absolute;
  left:125px;
  top:353px;
  width:0px;
  height:0px;
}
#u16048_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u16048_seg1 {
  position:absolute;
  left:-4px;
  top:49px;
  width:99px;
  height:8px;
}
#u16048_seg2 {
  position:absolute;
  left:87px;
  top:49px;
  width:8px;
  height:86px;
}
#u16048_seg3 {
  position:absolute;
  left:81px;
  top:122px;
  width:20px;
  height:20px;
}
#u16049 {
  position:absolute;
  left:10px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990033;
}
#u16050 {
  position:absolute;
  left:131px;
  top:585px;
  width:85px;
  height:16px;
  color:#990033;
}
#u16051 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  visibility:hidden;
  white-space:nowrap;
}
#u16052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u16052 {
  position:absolute;
  left:156px;
  top:488px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16053 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u16054 {
  position:absolute;
  left:216px;
  top:548px;
  width:0px;
  height:0px;
}
#u16054_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u16054_seg1 {
  position:absolute;
  left:-10px;
  top:50px;
  width:20px;
  height:20px;
}
#u16055 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16057 {
  position:absolute;
  left:166px;
  top:611px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16058 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:65px;
}
#u16059 {
  position:absolute;
  left:261px;
  top:231px;
  width:179px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16060 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u16061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u16061 {
  position:absolute;
  left:65px;
  top:139px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16062 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u16063 {
  position:absolute;
  left:125px;
  top:199px;
  width:0px;
  height:0px;
}
#u16063_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u16063_seg1 {
  position:absolute;
  left:-10px;
  top:76px;
  width:20px;
  height:20px;
}
#u16064 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:65px;
}
#u16065 {
  position:absolute;
  left:35px;
  top:288px;
  width:179px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16066 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u16067 {
  position:absolute;
  left:238px;
  top:69px;
  width:0px;
  height:0px;
}
#u16067_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u16067_seg1 {
  position:absolute;
  left:-117px;
  top:21px;
  width:121px;
  height:8px;
}
#u16067_seg2 {
  position:absolute;
  left:-117px;
  top:21px;
  width:8px;
  height:49px;
}
#u16067_seg3 {
  position:absolute;
  left:-123px;
  top:57px;
  width:20px;
  height:20px;
}
#u16068 {
  position:absolute;
  left:-116px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
  line-height:18px;
}
#u16070 {
  position:absolute;
  left:353px;
  top:498px;
  width:287px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
  line-height:18px;
}
#u16071 {
  position:absolute;
  left:8px;
  top:4px;
  width:279px;
  word-wrap:break-word;
}
#u16072 {
  position:absolute;
  left:276px;
  top:522px;
  width:0px;
  height:0px;
}
#u16072_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u16072_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u16072_seg2 {
  position:absolute;
  left:59px;
  top:-10px;
  width:21px;
  height:20px;
}
#u16073 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u16074 {
  position:absolute;
  left:291px;
  top:323px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u16075 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u16076 {
  position:absolute;
  left:349px;
  top:296px;
  width:0px;
  height:0px;
}
#u16076_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:6px;
  height:8px;
}
#u16076_seg1 {
  position:absolute;
  left:-2px;
  top:-4px;
  width:8px;
  height:31px;
}
#u16076_seg2 {
  position:absolute;
  left:-8px;
  top:14px;
  width:20px;
  height:20px;
}
#u16077 {
  position:absolute;
  left:-48px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
