body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8738 {
  position:absolute;
  left:64px;
  top:135px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8739 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8740 {
  position:absolute;
  left:54px;
  top:241px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8741 {
  position:absolute;
  left:2px;
  top:3px;
  width:116px;
  word-wrap:break-word;
}
#u8742 {
  position:absolute;
  left:114px;
  top:195px;
  width:0px;
  height:0px;
}
#u8742_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u8742_seg1 {
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u8743 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:59px;
}
#u8744 {
  position:absolute;
  left:169px;
  top:205px;
  width:89px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006600;
}
#u8745 {
  position:absolute;
  left:2px;
  top:20px;
  width:85px;
  word-wrap:break-word;
}
#u8746 {
  position:absolute;
  left:114px;
  top:301px;
  width:0px;
  height:0px;
}
#u8746_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u8746_seg1 {
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u8747 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8748 {
  position:absolute;
  left:54px;
  top:350px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8749 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u8750 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u8751 {
  position:absolute;
  left:375px;
  top:289px;
  width:305px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u8752 {
  position:absolute;
  left:8px;
  top:4px;
  width:297px;
  word-wrap:break-word;
}
#u8753 {
  position:absolute;
  left:204px;
  top:311px;
  width:0px;
  height:0px;
}
#u8753_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:170px;
  height:8px;
}
#u8753_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8753_seg2 {
  position:absolute;
  left:152px;
  top:-10px;
  width:21px;
  height:20px;
}
#u8754 {
  position:absolute;
  left:33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
