body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1232px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14130 {
  position:absolute;
  left:188px;
  top:9px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14131 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u14132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:60px;
}
#u14132 {
  position:absolute;
  left:287px;
  top:144px;
  width:124px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14133 {
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u14134 {
  position:absolute;
  left:238px;
  top:69px;
  width:0px;
  height:0px;
}
#u14134_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u14134_seg1 {
  position:absolute;
  left:-4px;
  top:29px;
  width:119px;
  height:8px;
}
#u14134_seg2 {
  position:absolute;
  left:107px;
  top:29px;
  width:8px;
  height:46px;
}
#u14134_seg3 {
  position:absolute;
  left:101px;
  top:62px;
  width:20px;
  height:20px;
}
#u14135 {
  position:absolute;
  left:10px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14136 {
  position:absolute;
  left:349px;
  top:204px;
  width:0px;
  height:0px;
}
#u14136_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u14136_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u14137 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14138 {
  position:absolute;
  left:349px;
  top:455px;
  width:0px;
  height:0px;
}
#u14138_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u14138_seg1 {
  position:absolute;
  left:-147px;
  top:44px;
  width:151px;
  height:8px;
}
#u14138_seg2 {
  position:absolute;
  left:-147px;
  top:44px;
  width:8px;
  height:182px;
}
#u14138_seg3 {
  position:absolute;
  left:-153px;
  top:213px;
  width:20px;
  height:20px;
}
#u14139 {
  position:absolute;
  left:-186px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:59px;
}
#u14140 {
  position:absolute;
  left:400px;
  top:91px;
  width:172px;
  height:59px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u14141 {
  position:absolute;
  left:2px;
  top:20px;
  width:168px;
  word-wrap:break-word;
}
#u14142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#990033;
}
#u14142 {
  position:absolute;
  left:131px;
  top:585px;
  width:85px;
  height:16px;
  color:#990033;
}
#u14143 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  visibility:hidden;
  white-space:nowrap;
}
#u14144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14145 {
  position:absolute;
  left:206px;
  top:940px;
  width:0px;
  height:0px;
}
#u14145_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u14145_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u14146 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14147 {
  position:absolute;
  left:156px;
  top:1001px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14148 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u14149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u14149 {
  position:absolute;
  left:146px;
  top:681px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14150 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u14151 {
  position:absolute;
  left:65px;
  top:157px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14152 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14153 {
  position:absolute;
  left:125px;
  top:217px;
  width:0px;
  height:0px;
}
#u14153_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u14153_seg1 {
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u14154 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14155 {
  position:absolute;
  left:125px;
  top:361px;
  width:0px;
  height:0px;
}
#u14155_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:148px;
}
#u14155_seg1 {
  position:absolute;
  left:-4px;
  top:140px;
  width:89px;
  height:8px;
}
#u14155_seg2 {
  position:absolute;
  left:77px;
  top:140px;
  width:8px;
  height:180px;
}
#u14155_seg3 {
  position:absolute;
  left:71px;
  top:307px;
  width:20px;
  height:20px;
}
#u14156 {
  position:absolute;
  left:6px;
  top:136px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14157 {
  position:absolute;
  left:349px;
  top:324px;
  width:0px;
  height:0px;
}
#u14157_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u14157_seg1 {
  position:absolute;
  left:-10px;
  top:58px;
  width:20px;
  height:20px;
}
#u14158 {
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u14159 {
  position:absolute;
  left:146px;
  top:783px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14160 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14161 {
  position:absolute;
  left:206px;
  top:746px;
  width:0px;
  height:0px;
}
#u14161_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u14161_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u14162 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14163 {
  position:absolute;
  left:238px;
  top:69px;
  width:0px;
  height:0px;
}
#u14163_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u14163_seg1 {
  position:absolute;
  left:-117px;
  top:42px;
  width:121px;
  height:8px;
}
#u14163_seg2 {
  position:absolute;
  left:-117px;
  top:42px;
  width:8px;
  height:46px;
}
#u14163_seg3 {
  position:absolute;
  left:-123px;
  top:75px;
  width:20px;
  height:20px;
}
#u14164 {
  position:absolute;
  left:-104px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u14165 {
  position:absolute;
  left:289px;
  top:395px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14166 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u14167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14168 {
  position:absolute;
  left:547px;
  top:317px;
  width:685px;
  height:198px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14169 {
  position:absolute;
  left:8px;
  top:4px;
  width:677px;
  word-wrap:break-word;
}
#u14170 {
  position:absolute;
  left:378px;
  top:368px;
  width:0px;
  height:0px;
}
#u14170_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u14170_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:170px;
  height:8px;
}
#u14170_seg2 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:21px;
}
#u14170_seg3 {
  position:absolute;
  left:152px;
  top:-11px;
  width:21px;
  height:21px;
}
#u14171 {
  position:absolute;
  left:33px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u14172 {
  position:absolute;
  left:146px;
  top:876px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14173 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14174 {
  position:absolute;
  left:206px;
  top:843px;
  width:0px;
  height:0px;
}
#u14174_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u14174_seg1 {
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u14175 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:65px;
}
#u14176 {
  position:absolute;
  left:35px;
  top:296px;
  width:179px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14177 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
#u14178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:65px;
}
#u14178 {
  position:absolute;
  left:259px;
  top:259px;
  width:179px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u14179 {
  position:absolute;
  left:2px;
  top:14px;
  width:175px;
  word-wrap:break-word;
}
