body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u28247 {
  position:absolute;
  left:16px;
  top:25px;
  width:823px;
  height:180px;
  color:#1E1E1E;
}
#u28247_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(46, 143, 244, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u28247.selected {
}
#u28247_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:180px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u28247.disabled {
}
#u28248 {
  position:absolute;
  left:12px;
  top:10px;
  width:796px;
  word-wrap:break-word;
}
