body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8210 {
  position:absolute;
  left:224px;
  top:238px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8211 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u8212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:68px;
}
#u8212 {
  position:absolute;
  left:328px;
  top:186px;
  width:109px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#006600;
}
#u8213 {
  position:absolute;
  left:2px;
  top:25px;
  width:105px;
  word-wrap:break-word;
}
#u8214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8214 {
  position:absolute;
  left:224px;
  top:647px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8215 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u8216 {
  position:absolute;
  left:284px;
  top:707px;
  width:0px;
  height:0px;
}
#u8216_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u8216_seg1 {
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u8217 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:67px;
}
#u8218 {
  position:absolute;
  left:220px;
  top:402px;
  width:127px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8219 {
  position:absolute;
  left:2px;
  top:16px;
  width:123px;
  word-wrap:break-word;
}
#u8220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8220 {
  position:absolute;
  left:224px;
  top:763px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8221 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u8222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8222 {
  position:absolute;
  left:224px;
  top:868px;
  width:120px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8223 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u8224 {
  position:absolute;
  left:284px;
  top:823px;
  width:0px;
  height:0px;
}
#u8224_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u8224_seg1 {
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u8225 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8226 {
  position:absolute;
  left:284px;
  top:928px;
  width:0px;
  height:0px;
}
#u8226_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u8226_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u8227 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u8228 {
  position:absolute;
  left:220px;
  top:965px;
  width:127px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8229 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u8230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8230 {
  position:absolute;
  left:234px;
  top:1062px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8231 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8232 {
  position:absolute;
  left:284px;
  top:1025px;
  width:0px;
  height:0px;
}
#u8232_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u8232_seg1 {
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u8233 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8234 {
  position:absolute;
  left:284px;
  top:589px;
  width:0px;
  height:0px;
}
#u8234_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u8234_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u8235 {
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8236 {
  position:absolute;
  left:344px;
  top:267px;
  width:0px;
  height:0px;
}
#u8236_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u8236_seg1 {
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8237 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8238 {
  position:absolute;
  left:437px;
  top:244px;
  width:85px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8239 {
  position:absolute;
  left:2px;
  top:16px;
  width:81px;
  word-wrap:break-word;
}
#u8240 {
  position:absolute;
  left:284px;
  top:298px;
  width:0px;
  height:0px;
}
#u8240_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:108px;
}
#u8240_seg1 {
  position:absolute;
  left:-10px;
  top:91px;
  width:20px;
  height:20px;
}
#u8241 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8242 {
  position:absolute;
  left:284px;
  top:469px;
  width:0px;
  height:0px;
}
#u8242_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u8242_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u8243 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:261px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8245 {
  position:absolute;
  left:507px;
  top:334px;
  width:473px;
  height:261px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8246 {
  position:absolute;
  left:8px;
  top:4px;
  width:465px;
  word-wrap:break-word;
}
#u8247 {
  position:absolute;
  left:338px;
  top:344px;
  width:0px;
  height:0px;
}
#u8247_seg0 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:8px;
  height:4px;
}
#u8247_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:170px;
  height:8px;
}
#u8247_seg2 {
  position:absolute;
  left:-11px;
  top:-13px;
  width:21px;
  height:21px;
}
#u8247_seg3 {
  position:absolute;
  left:152px;
  top:-10px;
  width:21px;
  height:21px;
}
#u8248 {
  position:absolute;
  left:33px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8249 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u8250 {
  position:absolute;
  left:541px;
  top:658px;
  width:439px;
  height:103px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u8251 {
  position:absolute;
  left:8px;
  top:4px;
  width:431px;
  word-wrap:break-word;
}
#u8252 {
  position:absolute;
  left:372px;
  top:668px;
  width:0px;
  height:0px;
}
#u8252_seg0 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:8px;
  height:4px;
}
#u8252_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:170px;
  height:8px;
}
#u8252_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:21px;
  height:21px;
}
#u8252_seg3 {
  position:absolute;
  left:152px;
  top:-10px;
  width:21px;
  height:21px;
}
#u8253 {
  position:absolute;
  left:33px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8254 {
  position:absolute;
  left:284px;
  top:164px;
  width:0px;
  height:0px;
}
#u8254_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u8254_seg1 {
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u8255 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:74px;
}
#u8256 {
  position:absolute;
  left:189px;
  top:529px;
  width:188px;
  height:74px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8257 {
  position:absolute;
  left:2px;
  top:28px;
  width:184px;
  word-wrap:break-word;
}
